.topBar {
    -fx-background-color: #036FC6;
}

.homeScreenButton {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.searchTextField {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-effect: dropshadow(GAUSSIAN, rgba(0, 0, 0, 1), 2, 0, 1, 1);
    -fx-text-fill: white;
}

.topBarButton {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(GAUSSIAN, rgba(0, 0, 0, 1), 4, 0, 2, 2);
    -fx-text-fill: white;
}

.topBarButton:hover {
    -fx-effect: dropshadow(GAUSSIAN, rgba(0, 0, 0, 1), 6, 0, 3, 3);
}

.topBarButtonImage {

}

.mainPane {
    -fx-background-color: white;
}

.searchListPane {
    -fx-background-color: white;
    -fx-effect: dropshadow(GAUSSIAN, rgba(0, 0, 0, 1), 8, 0, 4, 4);
}