.root {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.user-info {
    -fx-background-color: transparent;
    -fx-font-size: 12px;
}

.user-info .user-name {
    -fx-font-weight: bolder;
    -fx-font-size: 20px;
}