.title {
    -fx-fill: #fff;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

.count {
    -fx-fill: #fff;
    -fx-font-size: 45px;
    -fx-font-weight: bolder;
}

.content {
    -fx-fill: #fff;
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
}

.users-info-section {
    -fx-background-color: linear-gradient(to bottom right, #b0f, #90d);
    -fx-effect: dropshadow(GAUSSIAN, rgba(0, 0, 0, 0.6), 7, 0, 0, 3);
}

.friendships-info-section {
    -fx-background-color: linear-gradient(to bottom right, #0c0, #0a0);
    -fx-effect: dropshadow(GAUSSIAN, rgba(0, 0, 0, 0.6), 7, 0, 0, 3);
}

.tsn-info-section {
    -fx-background-color: linear-gradient(to bottom right, #08e, #06c);
    -fx-effect: dropshadow(GAUSSIAN, rgba(0, 0, 0, 0.6), 7, 0, 0, 3);
}

.contact-section {
    -fx-background-color: linear-gradient(to bottom right, #f80, #d60);
    -fx-effect: dropshadow(GAUSSIAN, rgba(0, 0, 0, 0.6), 7, 0, 0, 3);
}